<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductSubmit</display-name>
    <servlet-name>UpdateProductSubmit</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.UpdateProductSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductSubmit</servlet-name>
    <url-pattern>/UpdateProductSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chartsrvlet</display-name>
    <servlet-name>Chartsrvlet</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.Chartsrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chartsrvlet</servlet-name>
    <url-pattern>/Chartsrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disp</display-name>
    <servlet-name>disp</servlet-name>
    <servlet-class>cn.ShoppingCart.servlet.disp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disp</servlet-name>
    <url-pattern>/disp</url-pattern>
  </servlet-mapping>
</web-app>